:root {
    --color-orange: #f13c20;
    --color-blue: #4056a1;
    --color-yellow: #d79922;
    --hero-font: 'Epilogue', sans-serif;
    --body-font: 'Noto Sans KR', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

body {
    margin: 0px;
}

.top-nav {
    position: absolute;
    background-color: transparent;
    z-index: 99;
    width: 100%;
}

.top-nav nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1em;
}

.top-nav nav .nav-name {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left: 1em;
}

.top-nav nav .nav-name p {
    position: relative;
    top: 5px;
    font-family: var(--body-font);
    color: var(--color-blue);
    font-weight: bold;
    font-size: 2em;
    margin: 0px;
}

.top-nav nav .nav-items {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: flex-end;
    align-items: flex-end;
}

.top-nav nav .nav-items a {
    font-family: var(--body-font);
    color: var(--color-blue);
    margin-right: 3em;
    font-weight: bold;
}

@media only screen and (max-width: 500px) {
    .top-nav nav .nav-items {
        display: none;
    }
}

@media only screen and (min-width: 500px) and (max-width: 1000px) {
    .top-nav nav {
        flex-direction: column-reverse;
    }

    .top-nav nav .nav-items {
        justify-content: flex-start;
        padding-left: 1em;
    }

    .top-nav nav .nav-name {
        margin-top: 1em;
    }
}


.hero-header {
    background: url(./img/desk.jpg);
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1em 3em;
}

.hero-text,
.new-hero-text {
    font-family: var(--hero-font);
    font-size: 4em;
    color: var(--color-orange);
}

.new-hero-text .char {
    visibility: hidden;
    animation: animate 0s steps(2) forwards;
    animation-delay: calc(0.1s * var(--char-index));
}

@keyframes animate {
    0% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

@media only screen and (max-width: 450px) {
    .hero-header {
        background-position-x: 30em;
        padding: 0;
    }

    .hero-header div {
        padding: 1em;
    }

    .new-hero-text {
        width: 100%;
        justify-content: flex-end;
        font-size: 3em;
    }

    .hero-header .hero-text h1 {
        font-size: 2.5em;
    }
}



.about-me {
    padding: 2em 3em;
    position: relative;
}

.about-img {
    position: absolute;
    z-index:-99;
    top: 0px;
}

.about-me .about-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.about-me .about-left h2 {
    font-family: var(--body-font);
    color: var(--color-blue);
    font-size: 2.5em;
    font-weight: 400;
    width: 60%;
    margin-bottom: 1em;
}

.about-me .about-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.about-me .about-right p {
    font-family: var(--body-font);
    color: black;
    font-size: 1.5em;
    font-weight: 400;
    width: 60%;
}

@keyframes appear {
    0% {
        visibility:hidden;
    }

    100% {
        visibility: visible;
    }
}

.h2-split {
    visibility: hidden;
}

.h2-split.appear.words .char {
    animation: appear 0.3s both;
    animation-delay: calc(20ms * var(--char-index));
}


@media only screen and (max-width: 500px) {
    .about-me {
        padding: 1em 1em;
    }

    .about-me .about-left h2 {
        width: 100%;
        margin-bottom: 1em;
        font-size: 2em;
    }

    .about-me .about-right p {
        width: 100%;
        text-align: left;
    }
}

@media only screen and (min-width: 500px) and (max-width: 1000px) {
    .about-me .about-left h2 {
        width: 80%;
        margin-bottom: 1em;
        font-size: 2em;
    }

    .about-me .about-right p {
        width: 80%;
    }
}


.my-skills {
    padding: 3em 3em;
}

.my-skills h2 {
    font-family: var(--body-font);
    color: var(--color-orange);
    font-size: 2em;
    margin-bottom: 2em;
}

.my-skills .skill-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 3em;
    grid-row-gap: 3em;
    padding-bottom: 2em;
}


.my-skills .skill-grid .skill {
    background-color: var(--color-blue);
    padding: 2em;
    width: 400px;
}



.my-skills .skill-grid .skill .skill-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my-skills .skill-grid .skill .skill-top h4 {
    color: white;
    font-family: var(--body-font);
    font-size: 1.5em;
    margin-bottom: 0px;
}

.my-skills .skill-grid .skill .skill-top img {
    filter: invert(100%);
    width: 60px;
    margin-right: 1em;
}

.my-skills .skill-grid .skill p {
    color: white;
    font-family: var(--body-font);
}


@media only screen and (max-width: 500px) {
    .my-skills {
        padding: 1em;
    }

    .my-skills .skill-grid {
        grid-template-columns: 1fr;
    }

    .my-skills .skill-grid .skill {
        width: 90%;
        padding: 1em;
        margin-bottom: 1em;
    }

    .my-skills .skill-grid .skill .skill-top {
        margin-bottom: 1em;
    }

    .my-skills .skill-grid .skill .skill-top img {
        width: 40px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 1000px) {
    .my-skills .skill-grid {
        grid-template-columns: 1fr;
    }

    .my-skills .skill-grid .skill {
        width: 80%;
    }

    .my-skills .skill-grid .skill .skill-top img {
        width: 50px;
    }
}


.interests {
    padding: 2em 3em;
    background-color: whitesmoke;
}

.interests h2 {
    font-family: var(--body-font);
    color: var(--color-orange);
    font-size: 2em;
}

.interests .interests-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    padding-top: 2em;
}

.interests .interests-grid .interest {
    width: 80%;
    padding-bottom: 1em;
    border-radius: 20px 20px 0 0;
}

.interests .interests-grid .interest:nth-of-type(1) {
    background-color: var(--color-orange);
}

.interests .interests-grid .interest:nth-of-type(2) {
    background-color: var(--color-blue);
}

.interests .interests-grid .interest:nth-of-type(3) {
    background-color: var(--color-yellow);
}

.interests .interests-grid .interest img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 200px;
}

.interests .interests-grid .interest .interest-content {
    padding: 0em 1em;
}

.interests .interests-grid .interest h4 {
    font-family: var(--body-font);
    font-size: 1.5em;
    color: white;

}

.interests .interests-grid .interest p {
    font-family: var(--body-font);
    color: white;
}

@media only screen and (max-width: 500px) {
    .interests {
        padding: 1em;
    }

    .interests h2 {
        margin: 0.5em 0;
    }

    .interests .interests-grid {
        grid-template-columns: 1fr;
    }

    .interests .interests-grid .interest {
        width: 100%;
        margin-bottom: 1em;
    }

    .interests .interests-grid .interest h4 {
        margin: 0.5em 0;
    }
}

@media only screen and (min-width: 500px) and (max-width: 1000px) {
    .interests {
        padding: 1em;
    }

    .interests .interests-grid {
        grid-template-columns: 1fr 1fr;
        row-gap: 1em;
    }

}


.contact {
    padding: 3em;
    background-color: whitesmoke;
}

.contact h2 {
    font-family: var(--body-font);
    color: var(--color-blue);
    font-size: 2.5em;
    font-weight: 400;
}

.contact h2 a {
    text-decoration: none;
    color: var(--color-orange);
    font-weight: bold;
}

@media only screen and (max-width: 500px) {
    .contact {
        padding: 1em 1em 4em 1em;
    }

    .contact h2 {
        width: 100%;
    }
}

@media only screen and (min-width: 500px) and (max-width: 1000px) {
    .contact {
        padding: 1em 1em 4em 1em;
    }

    .contact h2 {
        font-size: 2em;
    }
}


footer {
    background-color: var(--color-blue);
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footer-left {
    margin-bottom: 1em;
}

footer .footer-left p {
    color: white;
    font-family: var(--body-font);
}

footer .footer-right {
    text-align: center;
    width: 70%;
}

footer .footer-right a {
    color: white;
    text-decoration: none;
    font-size: 0.75em;
}